<ion-header class="ion-no-border">

  <div style="background: var(--ion-color-orange);">
    <app-tab-header titulo="Perfil"></app-tab-header>
  </div>

  <div class="flex_row">
    <div class="page_subheader">
      <span class="page_subheader_title">Promociones</span>
    </div>
  </div>

</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-row style="margin-top:40px;">
        <ion-label class="title">Productos de albañileria en venta</ion-label>
      </ion-row>
      <ion-row style="margin-top:10px;">
        <ion-label class="precio" >0.00 $</ion-label>
      </ion-row>

      <div id="barra">
        <p style="padding: 0px 15px;">Estos roductos estan disponibles en todas las tiendas de MLC.Se a recomienda la llegada temprana al lugar ,preo no antes de las 5 am</p>
      </div>

      <ion-row>
        <ion-col size="5" style="padding-left: 0px;">
          <ion-card
                 style="
                    width: 100px;
                    height: 100px;
                    border-radius: 8px 8px 8px 8px;
                    margin-top: 30px; 
                    margin-left: 0px;"
                 >
                  <img class="selecf" src='../../../assets/icons/carpintero.png' />
                </ion-card>

        </ion-col>

        <ion-col size="5">
          <ion-card
                 style="
                    width: 100px;
                    height: 100px;
                    border-radius: 8px 8px 8px 8px;
                    margin-top: 30px; 
                    margin-left: 0px;"
                 >
                  <img class="selecf" src='../../../assets/icons/electricida.png' />
                </ion-card>

        </ion-col>

        
      </ion-row>

      <ion-row style="margin-top:17px;">
        <ion-col size="3">
          <ion-label class="contactar">Contactar al :</ion-label>
        </ion-col>

        <ion-col size="9">
          <ion-label class="telefono">000 000 000</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
