.page_subheader {
    background     : var(--ion-color-orange);
    height         : 45px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index        : 1;
    width          : 100%;
}

.page_subheader_title {
    font          : normal 17px 'Helvetica-Md', sans-serif;
    text-transform: uppercase;
}

.title {
    font: normal 16px "Helvetica-Md", sans-serif !important;
    // margin: 30px 5px 8px 10px !important;
    text-align: left;
    width: 100%;
}
.precio{
    font: normal 16px "Helvetica-Md", sans-serif !important;
    color: var(--ion-color-orange);
  }

  #barra{
    //background-color :rgb(24, 241, 241);
    background-color :rgb(241, 241, 241);
    width: 100%;
    height: 25%;
    margin-top: 23px;
   // font-family: 'HelveticaNeueLTStd-Bd';
   font: normal 14px "HelveticaNeueLTStd-Bd", sans-serif !important; 
   display: flex;
   text-align: justify;
    //justify-content: center;
    align-content: center;
    //flex-direction: column;
   /// text-align: center; 
    border-radius: 10px;
   
}

.contactar{
    font: normal 10px "Helvetica-Md", sans-serif !important;
}
.telefono{
  color: var(--ion-color-greenblue) ; 
  //font: normal 10px "Helvetica-Md", sans-serif !important; 
  font-size: 10px;

}
