

<ion-content>
  <div class="container">
    <div class="flex_column">
      <div class="div_title" style="margin-top: 30px;">
        <ion-label class="title">CREAR CUENTA</ion-label>
      </div>

      <div  class="flex_row" class="flex_centered" style="margin-top: 30px;">
        <ion-img style="width:8px;height:8px ;" [src]="punto_naranja"></ion-img>
        <ion-img style="width:8px;height:8px;margin-left: 15px;" [src]="punto_naranja"></ion-img>
        <ion-img style="width:8px;height:8px;margin-left: 15px;" [src]="punto_naranja"></ion-img>
        <ion-img style="width:8px;height:8px;margin-left: 15px;" [src]="punto_naranja"></ion-img>
      </div>


      <div class="flex_centered" class="flex_row" style="margin-top:40px"  >
      
          <p class="parrafo">Para poder registrase en nuestra plataforma se exigen que adjunte su documento de IAE.</p>    
      
      </div>
     
    
    <div  class="flex_row" style="margin-top:80px">
   
      <ion-button
        class="iae_btn"
        slot="icon-only"
        color="orange"
        (click)="presentPopover( $event )"
      >
        <ion-icon name="attach" style="color: white"></ion-icon>
      </ion-button>

         <ion-label class="iae_label">Adjuntar IAE</ion-label>
    </div>

    <div class="flex_centered" style="height: 160px;margin-top: 120px;">
      <ion-button
        type="submit"
        class="next_btn"
        color="orange"
        (click)="onNextClick( )"
      >
        Siguiente
      </ion-button>
    </div>

    </div>
  </div>

</ion-content>
