<div class="flex_row" style="flex-wrap: nowrap; justify-content: space-evenly;">

  <ion-button class="btn_camera" (click)="onCameraClick()">
    <ion-icon name="camera" style="width: 25px; height: 25px;"></ion-icon>
  </ion-button>

  <ion-button class="btn_galery" (click)="onGaleryClick()">
    <ion-icon name="image" style="width: 25px; height: 25px;"></ion-icon>
  </ion-button>

  <ion-button class="btn_document" (click)="onDocumentClick()">
   <!--  <ion-icon name="document" style="width: 25px; height: 25px;"></ion-icon> -->
   <ion-img src="../../../assets/icons/documentos.svg" style="width: 28px; height: 28px; color: var(--ion-color-orange)"></ion-img>
  </ion-button>

</div> 
