<p-toast
[baseZIndex]="8000"
[style]="{width: '250px', height: '25px' , minWidth: '200px'}"
></p-toast>

<ion-header class="ion-no-border">
  <div style="background: var(--ion-color-orange);">
    <app-tab-header titulo="Perfil"></app-tab-header>
  </div>

  
</ion-header>


<ion-content>

  <div class="flex_row">
    <div style="background: var(--ion-color-orange)"></div>

    <div class="page_subheader">
      <span class="page_subheader_title">CONTRASEÑA</span>
    </div>
  </div>

  <ion-row style="margin-top: 30px">
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
    <ion-col size="10">
      <h5
        style="
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Cambiar contraseña
      </h5></ion-col
    >
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
  </ion-row>

  <ion-row style="margin-top: 5px; padding: 0px">
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
    <ion-col size="10" style="padding-bottom: 0px">
      <ion-label style="font-size: small">Contraseña nueva</ion-label></ion-col
    >
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
    <ion-col size="10">
      <ion-input 
        name="contraseña_cambiar"
        type="text"
        [ngClass]="((nom_apell.invalid && nom_apell.touched) || campo_vacio) ? 'green_border':'no_border'"
        required
        [(ngModel)]="cambiada"
        #nom_apell="ngModel"
      ></ion-input>

      <small *ngIf="(nom_apell.invalid && nom_apell.touched) || campo_vacio" class="text-danger"
        >Debe escribir una contraseña segura</small
      >
    </ion-col>
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
  </ion-row>

  <ion-row style="margin-top: 5px; padding: 0px">
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
    <ion-col size="10" style="padding-bottom: 0px">
      <ion-label style="font-size: small"
        >Confirmacion contraseña</ion-label
      ></ion-col
    >
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
    <ion-col size="10">
      <div *ngIf="error_confirmacion ">
        <ion-input
          name="contraseña"
          [ngClass]="((nom_apell.invalid && nom_apell.touched) || campo_vacio) ? 'green_border':'no_border'"
          type="text"
          required
          [(ngModel)]="confirmada"
          #nom_apell="ngModel"
        ></ion-input>

        <small
          *ngIf="(nom_apell.invalid && nom_apell.touched) || campo_vacio"
          class="text-danger"
          >Debe escribir contraeña valida</small
        >
      </div>

      <div *ngIf=" !error_confirmacion ">
        <ion-input
          style="border: 2px solid rgb(101, 173, 172) !important"
          name="contraseña"
          type="text"
          [(ngModel)]="confirmada"
        ></ion-input>

        <small class="text-danger">No coinciden las contraseñas</small>
      </div>
    </ion-col>
    <ion-col size="1" style="background: rgb(255, 255, 255)"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center; margin-top: 65px">
      <ion-button color="orange" type="submit" (click)="guardar()">
        <span style="padding-top: 5px">Guardar</span>
      </ion-button>
    </ion-col>
  </ion-row>



</ion-content>
