.page_subheader {
  background: var(--ion-color-orange) !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
  width: 100% !important;
}

.page_subheader_title {
  font: normal 17px "Helvetica-Md", sans-serif !important;
}

ion-input {
  border: 1px transparent;
  background-color: rgb(245, 245, 245);
  fill: round($number: 7);

  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
}

ion-input.ng-invalid.ng-touched {
  border: 2px solid rgb(101, 173, 172) !important;
}

ion-button {
 //font: normal 16px "Helvetica-Md", sans-serif;
  //font: normal 15px 'Helvetica-Bd', sans-serif;
  font: normal 15px 'Helvetica-Roman', sans-serif !important;

}

.text-danger{
  color:  rgb(101, 173, 172) !important;
}