<ion-content>
    <agm-map id="map-parent" [zoom]="zoom" (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng"
        mapTypeId='hybrid' [disableDefaultUI]=true>
        <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat"
            [longitude]="marcador.lng">
        </agm-marker>
    </agm-map>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="getMyLocation(true)">
               <ion-fab-button>
                   <ion-icon name="location"></ion-icon>
               </ion-fab-button>
           </ion-fab> 

   

</ion-content>