.page_subheader {
    background     : var(--ion-color-orange) !important;
    height         : 45px !important;
    display        : flex !important;
    justify-content: center !important;
    align-items    : center !important;
    z-index        : 1 !important;
    width          : 100% !important;
}

.page_subheader_title {
    font          : normal 16px 'Helvetica-Md', sans-serif !important;
    text-transform: uppercase;
}

.custom_input {
    border          : none;
    background-color: var(--ion-color-gray) !important;
    border-radius   : 5px !important;
    width           : 100% !important;
    --padding-top   : 8px;
    --padding-end   : 10px;
    --padding-bottom: 8px;
    --padding-start : 10px;
    text-align      : left;
    font-family     : 'Helvetica-Roman', sans-serif !important;
    font-size       : 12px !important;
    outline         : none !important;
    min-width       : 80px;
}

.div_1 {
    width     : 100%;
    margin-top: 25px !important;
    position  : relative;
}

.comentarios {
    border          : none;
    background-color: var(--ion-color-gray) !important;
    border-radius   : 5px !important;
    width           : 100% !important;
    --padding-top   : 8px;
    --padding-end   : 10px;
    --padding-bottom: 8px;
    --padding-start : 10px;
    text-align      : left;
    font-family     : 'Helvetica-Roman', sans-serif !important;
    font-size       : 11px !important;
    margin-top      : 0;
}

.add_img {
    width        : 95px !important;
    height       : 95px !important;
    min-width    : 95px !important;
    margin-right : 30px;
    border-radius: 10px;
}