ion-input{
    border: 1px   transparent;
    background-color: rgb(245, 245, 245);
    fill: round($number: 7);
   
    border-radius: 5px 5px 5px 5px ;
    margin-top: 5px;

  
   
}

ion-input.ng-invalid.ng-touched {
    border: 2px solid rgb(101,173,172) !important;
}
ion-button{
    background-color: rgb(246, 183, 118);
    color: rgb(49 ,49 ,57);
   
    border-radius: 5px 5px 5px 5px ;
    font-family: 'HelveticaNeueLTStd-Bd';
    margin-top: 50px;
}

h3{
    font-family: 'HelveticaNeueLTStd-Bd';
    color:  rgb(246, 183, 118); 
    text-align: center;
}