.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.page_header {
    height: 60px;
    width: 100%;
    background: var(--ion-color-black);
    border-radius: 0px 0px 20px 0px;
    box-shadow: var(--ion-color-black) 1px 1px 2px;
    -webkit-box-shadow: var(--ion-color-black) 1px 1px 2px;
    z-index: 100;
}
.logo_tabs {
    height: 30px !important;
    width: 30px !important;
}

.page_title {
    color: var(--ion-color-orange) !important;
    font-family: 'Helvetica-Bd', sans-serif !important;
    font-size: 22px;
}

#div_back {
    height: 60px;
    width: 100%;
}
