.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

:host ::ng-deep .p-dropdown {

    margin-top: 5px;
    background-color: var(--ion-color-);
    background-image: url(../../../assets/icons/orga.svg);
    background-position: center;
    background-repeat: no-repeat;

    width: 20px;
    height: 25px;
    border: 0;

    .p-dropdown-panel {

        margin-top: 50%;
        margin-left: -100%;

        
    }
    .p-dropdown-trigger{
        display: none;
            
    }
   
    .p-dropdown-label.p-inputtext
     {
        display: none
    }
    
}
:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    
    box-shadow: none !important;
    border: 0 !important;
}

:host ::ng-deep .p-dropdown:focus {
    
    box-shadow: none !important;
    border: 0 !important;
}



.page_header {
    height: 60px;
    width: 100%;
    background: var(--ion-color-black);
    border-radius: 0px 0px 20px 0px;
    box-shadow: var(--ion-color-black) 1px 1px 2px;
    -webkit-box-shadow: var(--ion-color-black) 1px 1px 2px;
    z-index: 100;
}
.logo_tabs {
    height: 30px !important;
    width: 30px !important;
}

.notificaciones{
     height: 22px !important;
     width: 18px !important;
}
.notificaciones_campana{
    height: 21px !important;
    width: 21px !important;
    margin-left: 5px;
}

.notificaciones_punto{
    height: 7px !important;
    width: 7px !important;
    margin-top: 15px;
    margin-right: 22px;
}

.page_title {
    color: var(--ion-color-orange) !important;
    font-family: 'Helvetica-Bd', sans-serif !important;
    font-size: 22px;
}

#div_back {
    height: 60px;
    width: 100%;
}
