<ion-content class="ion-no-padding">

  <div class="flex_column" style="height: 100%; background-color: var(--ion-color-black);">
    <div class="logo_principal">
      <ion-img src="/assets/icons/logo_header.svg" style="width: 100px;"></ion-img>
    </div>
    <div class="init_div">
      <ion-button   class="btn"
                    color="orange"
                    routerLink="/login-user">
        Iniciar sección
      </ion-button>
    </div>
    <div class="create_div">
      <ion-button   class="btn"
                    color="orange"
                    routerLink="/create-account">
        Crear cuenta
      </ion-button>
    </div>
  </div>

</ion-content>
