.page_subheader {
  background: var(--ion-color-orange) !important;
  height: 44px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
  width: 100% !important;
  text-transform: uppercase;
}

.page_subheader_title {
  font: normal 17px 'Helvetica-Md', sans-serif !important;
}


img {
  width: 120px;

}

#imgGPS {
  width: 30px;
  height: 30px;
}

ion-button {
  margin-top: 45px;
  width: 100px;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
  font: normal 16px 'Helvetica-Md', sans-serif;
  background-color: var(--ion-color-orange);
  color: var(--ion-color-black);
}

ion-card {
  border: 0.5px solid var(--ion-color-black);
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

#selecf {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

#link {
  color: var(--ion-color-greenblue);
}

.custom_input {
  border: none;
  width: 100% !important;
  --padding-top: 5px;
  --padding-end: 15px;
  --padding-bottom: 5px;
  --padding-start: 15px;
  text-align: left;
  font-family: 'Helvetica-Roman', sans-serif !important;
  font-size: 16px !important;
  outline: none !important;
}


