<ion-header class="ion-no-border">

  <div style="background: var(--ion-color-orange);">

    <app-tab-header titulo="Perfil"></app-tab-header>

  </div>

  <div class="page_subheader">
    <span class="page_subheader_title">Datos Personales</span>
  </div>

</ion-header>

<ion-content>

  <ion-row style="margin-top: 25px;">
    <ion-col size=3.5></ion-col>
    <ion-col size=5 style="text-align: center; margin-bottom: 20px;">
      <ion-card *ngIf="avatarusuario" style="margin: auto;">
        <img id="selecf" [src]="avatarusuario  " (click)="presentAlertConfirm()">
      </ion-card>
    </ion-col>
    <ion-col size=3.5></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size=1></ion-col>
    <ion-col size=10>

      <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange);">
        <ion-input  class="custom_input" 
                    type="text" 
                    name="nombre" 
                    [(ngModel)]="nombre" 
                    placeholder={{this.placeholderNombre}} 
                    required
                    #nom_apell="ngModel">
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="nom_apell.invalid && nom_apell.touched" class="text-danger">Debe escribir su nombre
          completo</small>
      </div>

      <!-- Fecha de nacimiento -->

      <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">

        <ion-datetime displayFormat="D MMMM  YYYY" 
                      name="calendario" 
                      cancelText="Cancelar" 
                      doneText="Cambiar"
                      [(ngModel)]="fecha" 
                      placeholder={{this.placeholderFecha}}
                      #fech="ngModel" 
                      required
                      style="margin-left: 15px; padding-left: 0px; padding-bottom: 3px;">
        </ion-datetime>

      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="fech.invalid && fech.touched" class="text-danger">Debe escribir su nombre completo</small>
      </div>

      <!-- Correo -->

      <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">
        <ion-input  class="custom_input" 
                    type="text" 
                    name="correo" 
                    [(ngModel)]="correo" 
                    placeholder={{this.placeholderUser}} 
                    #corr="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
                    required>
        </ion-input>

      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="corr.invalid && corr.touched" class="text-danger">Debe escribir su correo</small>
      </div>

      <!-- Direccion -->

      <ion-row>
        <ion-col style="padding: 0; margin-right: 10px;">
          <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">

            <ion-input  class="custom_input" 
                        type="text" 
                        name="nombre" 
                        [(ngModel)]="calle" 
                        placeholder={{this.placeholderCalle}} 
                        #call="ngModel" 
                        required>
            </ion-input>

          </div>
          <div id="item"></div>
          <div id="link">
            <small *ngIf="call.invalid && call.touched" class="text-danger">Campo obligatorio</small>
          </div>

        </ion-col>
        
        <ion-col style="padding: 0; margin-left: 10px;">
          <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">
            <ion-input  class="custom_input" 
                        type="text" 
                        name="nombre" 
                        [(ngModel)]="piso" 
                        placeholder={{this.placeholderPiso}}
                        #pis="ngModel" 
                        required>
            </ion-input>
          </div>
          <div id="item"></div>
          <div id="link">
            <small *ngIf="pis.invalid && pis.touched" class="text-danger">Campo obligatorio</small>
          </div>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="padding: 0; margin-right: 10px;">
          <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">
            <ion-input  class="custom_input" 
                        type="text" 
                        name="nombre" 
                        [(ngModel)]="numero" 
                        placeholder={{this.placeholderNumero}}
                        #num="ngModel" 
                        required>
            </ion-input>
          </div>
          <div id="item"></div>
          <div id="link">
            <small *ngIf="num.invalid && num.touched" class="text-danger">Campo obligatorio</small>
          </div>
        </ion-col>

        <ion-col  style="padding: 0; margin-left: 10px;">
          <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">
            <ion-input  class="custom_input" 
                        type="text" 
                        name="nombre" 
                        [(ngModel)]="puerta" 
                        placeholder={{this.placeholderPuerta}} 
                        #pue="ngModel" 
                        required>
            </ion-input>

          </div>
          <div id="item"></div>
          <div id="link">
            <small *ngIf="pue.invalid && pue.touched" class="text-danger">Campo obligatorio</small>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="padding: 0; margin-right: 10px;">
          <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">
            <ion-input  class="custom_input" 
                        type="text" 
                        name="nombre" 
                        [(ngModel)]="portal" 
                        placeholder={{this.placeholderPortal}} 
                        #port="ngModel" 
                        required>
            </ion-input>
          </div>
          <div id="item"></div>
          <div id="link">
            <small *ngIf="port.invalid && port.touched" class="text-danger">Campo obligatorio</small>
          </div>
        </ion-col>

        <ion-col style="padding: 0; margin-left: 10px;">
          <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">
            <ion-input  class="custom_input" 
                        type="text" 
                        name="nombre" 
                        [(ngModel)]="cpostal" 
                        placeholder={{this.placeholderCp}} 
                        #c_post="ngModel"
                        required>
            </ion-input>

          </div>
          <div id="item"></div>
          <div id="link">
            <small *ngIf="c_post.invalid && c_post.touched" class="text-danger">Campo obligatorio</small>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="padding: 0; margin-right: 10px;">
          <div style="width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;">
            <ion-input  class="custom_input" 
                        type="text" 
                        name="escalera" 
                        [(ngModel)]="escalera" 
                        placeholder={{this.placeholderEscalera}} 
                        #esc="ngModel" 
                        required>
            </ion-input>
          </div>
          <div id="item"></div>
          <div id="link">
            <small *ngIf="esc.invalid && esc.touched" class="text-danger">Campo obligatorio</small>
          </div>
        </ion-col>

        <ion-col style="text-align: end; margin-top: 15px;">
          <div (click)="ubicacion()">
            <img id="imgGPS" src="../../../assets/icons/ubicacion.svg">
          </div>
        </ion-col>

      </ion-row>

      <ion-row style="margin-bottom: 50px;">
        <ion-col></ion-col>
        <ion-col>
          <ion-button [disabled]="esc.invalid || c_post.invalid || port.invalid || pue.invalid || num.invalid || pis.invalid || call.invalid || corr.invalid || fech.invalid || nom_apell.invalid || !this.datos.getcoordenada()"
                      type="submit" 
                      color="orange"
                      style="min-width: 150px; height: 30px !important; font: normal 16px 'Helvetica-Roman', sans-serif; --border-radius: 7px"
                      (click)="editar()">
            GUARDAR
          </ion-button>
        </ion-col>

        <ion-col></ion-col>
      </ion-row>

    </ion-col>

    <ion-col size=1></ion-col>
  </ion-row>

</ion-content>
