.page_subheader {
  background: var(--ion-color-orange) !important;
  height: 44px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
  width: 100% !important;
  text-transform: uppercase;
}

.page_subheader_title {
  font: normal 17px 'Helvetica-Md', sans-serif !important;
}


img {
  width: 120px;

}

#imgGPS {
  width: 30px;
  height: 30px;
}

ion-button {
  margin-top: 45px;
  width: 100px;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
 // font: normal 16px 'Helvetica-Md', sans-serif;
  font: normal 15px 'Helvetica-Bd', sans-serif;
  background-color: var(--ion-color-orange);
  color: var(--ion-color-black);
}

ion-card {
  border: 0.5px solid var(--ion-color-black);
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

#selecf {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

#link {
  color: var(--ion-color-greenblue);
}

.custom_input {
  border: none;
  width: 100% !important;
  --padding-top: 5px;
  --padding-end: 15px;
  --padding-bottom: 5px;
  --padding-start: 15px;
  text-align: left;
  font-family: 'Helvetica-Roman', sans-serif !important;
  font-size: 16px !important;
  outline: none !important;
}


:host ::ng-deep .p-dropdown {
  width: 14rem;
}

.country-item-value {
  img.flag {
      width: 17px;
  }
}


/* 
.p-dropdown {
  background-color: rgb(246, 183, 118);
  border-radius: 8px;
  border-color: #f5bc82 !important;
  .p-dropdown-label.p-placeholder,
  .p-dropdown-trigger {
    color: rgb(49, 49, 58);
  }
  span {
    font-size: 14px;
    //padding: 4px;
    margin-left: 10px;
  }
}
.p-dropdown:not(.p-disabled):hover {
  border-color: #f6b776 !important;
  box-shadow: 0 0 0 0.2rem #f5bc82 !important;
  border-color: #f5bc82 !important;
}

.p-dropdown .p-dropdown-clear-icon {
  display: none;
} */

.div_1 {
  width     : 100%;
  margin-top: 18px !important;
  position  : relative;
}



.prom_title {
  font         : bold 24px 'Helvetica-Roman', sans-serif;
  margin-bottom: 5px;
}

.prom_text {
  font: normal 14px 'Helvetica-Roman', sans-serif;
  margin-top: 10px;

}


.next_btn {
  --border-radius: 5px !important;
  width          : 160px;
  font: normal 16px 'Helvetica-Roman', sans-serif !important;
  height         : 30px;
 // font           : normal 16px 'Helvetica-Bd', sans-serif !important;
}


:host ::ng-deep {
  .p-toast-message-custom {
      background-color: rgb(246, 183, 118);
      border: solid rgb(246, 183, 118);;
      border-width: 0 0 0 6px;
      width: 10px;
      color: #2c1e30;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}