<p-toast
[baseZIndex]="3000"
[style]="{width: '250px', height: '25px' , minWidth: '200px'}"
></p-toast>

<ion-header class="ion-no-border">
  <div style="background: var(--ion-color-orange)">
    <app-tab-header titulo="Perfil"></app-tab-header>
  </div>

  <div class="page_subheader">
    <span class="page_subheader_title">Foto Personal</span>
  </div>
</ion-header>

<ion-content>
  <!-- <ion-row style="margin-top: 25px">
    <ion-col size="3.5"></ion-col>
    <ion-col size="5" style="text-align: center; margin-bottom: 20px">
      <ion-card *ngIf="avatarusuario" style="margin: auto">
        <ion-img
        id="selecf"
          src={{avatar_actualizado}}
          (click)="presentAlertConfirm()"
      >
      </ion-img>
      </ion-card>
    </ion-col>
    <ion-col size="3.5"></ion-col>
  </ion-row> -->

  <!-- src="../../../assets/noImage.svg" -->

  <ion-row style="margin-top: 30px">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-row>
        <ion-col size="3">
          <img
            [src]="avatarusuario"
            style="
              width: 60px;
              height: 60px;
              margin-top: 0px;
              border-radius: 8px;
            "
          />
        </ion-col>
        <ion-col size="9" style="padding-left: 20px;">
          <ion-row>
            <ion-label class="prom_title">Laura Martínez</ion-label>
          </ion-row>

          <ion-row>
            <ion-label>Fontanero</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 30px;">
        <p style="font: bold 18px 'Helvetica-Roman', sans-serif;"> Agregue su nueva foto de perfil</p>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-card *ngIf="avatarusuario" style="margin-left: 0px;">
            <ion-img
              id="selecf"
              src="{{avatar_actualizado}}"
              (click)="presentAlertConfirm()"
            >
            </ion-img>
          </ion-card>
        </ion-col>

        <ion-col size="7">
          <div style="margin-left: 7px">
            <ion-row>
              <ion-label class="prom_text"
                >Para actualizar otros datos contacte con la empresa
                Gremio.</ion-label
              >
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <!-- disabled={{btn_deshabilitar}} -->
      <div class="flex_centered" style="height: 160px">
        <ion-button
          type="submit"
          class="next_btn"
          color="orange"
          disabled={{btn_deshabilitar}}
          (click)="onNextClick()"
        >
          <span style="padding-top: 5px">ACTUALIZAR</span>
        </ion-button>
      </div>

    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">


    
      <div
        style=" width: 100%; border-bottom: 1px solid var(--ion-color-orange); margin-top: 20px;"
        (click)="clickCategoria()"  >
        <div class="flex_row" style="justify-content: space-between">
          <ion-label
            class="flex_row"
            style=" margin-top: 0 !important;
                    margin-bottom: 0 !important ;
                    min-width: 178px !important;
                    padding-left: 9px;
                    padding-bottom: 5px;">
                    
                    Categoría de trabajador</ion-label
          >

          <div class="flex_row" style="justify-content: flex-end">
            <ion-label
              style="margin-top: 0 !important; margin-bottom: 0 !important"
              >{{categoria}}</ion-label
            >
            <ion-icon
              style="
                width: 11px;
                height: 11px;
                margin-top: 3px !important;
                margin-left: 4px;
              "
              name="caret-down-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
      <small *ngIf="isCatTouched == true" id="link">Campo obligatorio </small> 

      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 22px;
        "
        (click)="clickEntidad()"
      >
        <div
          class="flex_row"
          style="justify-content: space-between"
          
        >
          <ion-label
            class="flex_row"
            style="
              margin-top: 0 !important;
              margin-bottom: 0 !important ;
              min-width: 178px !important;
              padding-left: 9px;
              padding-bottom: 5px;
            "
            >Entidad juridica</ion-label
          >

          <div class="flex_row" style="justify-content: flex-end">
            <ion-label
              style="margin-top: 0 !important; margin-bottom: 0 !important"
              
              >{{entidad}}</ion-label
            >
            <ion-icon
              style="
                width: 11px;
                height: 11px;
                margin-top: 3px !important;
                margin-left: 4px;
              "
              name="caret-down-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
      <small *ngIf="isEntTouched == true" id="link">Campo obligatorio </small>

      <div
        style="
          width: 100%;
          margin-top: 20px;
          border-bottom: 1px solid var(--ion-color-orange);
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="nombre"
          [(ngModel)]="nombre"
          placeholder="{{this.placeholderNombre}}"
          required
          #nom_apell="ngModel"
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small
          *ngIf="(nom_apell.invalid && nom_apell.touched) || nombreVacio"
          class="text-danger"
          >Debe escribir su nombre completo</small
        >
      </div>


      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-datetime
          displayFormat="D MMMM  YYYY"
          name="calendario"
          cancelText="Cancelar"
          doneText="Cambiar"
          min="1920"
          max="2030"
          [(ngModel)]="fecha"
          placeholder="{{this.placeholderFecha}}"
          #fech="ngModel"
          required
          style="margin-left: 15px; padding-left: 0px; padding-bottom: 3px"
        >
        </ion-datetime>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(fech.invalid && fech.touched) || fecha_nacimiento  || !esMayorEdad" class="text-danger"
          >Necesita ser mayor a 18 años</small
        >
      </div>

    

      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="correo"
          [(ngModel)]="correo"
          placeholder="{{this.placeholderUser}}"
          #corr="ngModel"
       
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
          required
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(corr.invalid && corr.touched) || correo_bool" class="text-danger"
          >Debe escribir su correo</small
        >
      </div>


      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="CIF"
          [(ngModel)]="CIF_NIF"
          placeholder="CIF/NIF"
          pattern="[a-zA-Z][0-9]{7}[a-zA-Z0-9]"
          #cif="ngModel"
          required
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(cif.invalid && cif.touched) || cifNif" class="text-danger"
          >Campo obligatorio</small
        >
      </div>

   

      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="ss"
          [(ngModel)]="segSocial"
          minlength=12
          maxlength=12
          placeholder="Numero de seguridad social"
          #seg="ngModel"
          required
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(seg.invalid && seg.touched) || segSoc" class="text-danger"
          >Debe escribir su numero de seguridad social</small
        >
      </div>



      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="iafname"
          [(ngModel)]="iaf_string"
          placeholder="IAF"
          #ia="ngModel"
          required
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(ia.invalid && ia.touched) || iaf_bool" class="text-danger"
          >Debe escribir su IAF correctamente</small
        >
      </div>


      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="DNIname"
          [(ngModel)]="dni_string"
          placeholder="DNI"
          pattern="[0-9]{8}[a-zA-Z]"
          #dn="ngModel"
          required
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(dn.invalid && dn.touched) || dni_bool" class="text-danger"
          >Debe escribir su DNI correctamente</small
        >
      </div>


      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="cbname"
          [(ngModel)]="cuenta_bancaria"
          placeholder="Cuenta bancaria"
          minlength=24
          maxlength=24
          #cb="ngModel"
          required
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(cb.invalid && cb.touched) || cuentaBancaria" class="text-danger"
          >Debe escribir su cuenta bancaria correctamente</small
        >
      </div>


      <div
        style="
          width: 100%;
          border-bottom: 1px solid var(--ion-color-orange);
          margin-top: 20px;
        "
      >
        <ion-input
          class="custom_input"
          type="text"
          name="phone"
          [(ngModel)]="phone"
          placeholder="Telefono"
          minlength=6
          maxlength=9
          #tele="ngModel"
          required
        >
        </ion-input>
      </div>
      <div id="item"></div>
      <div id="link">
        <small *ngIf="(tele.invalid && tele.touched) || phone_bool" class="text-danger"
          >Debe escribir su número telefónico correctamente </small
        >
      </div>

      <ion-row style="margin-bottom: 50px">
        <ion-col></ion-col>
        <ion-col>
          <ion-button
            type="submit"
            color="orange"
            style="
              min-width: 150px;
              height: 30px !important;
              font: normal 16px 'Helvetica-Roman', sans-serif !important;
              --border-radius: 7px;
            "
            (click)="editar()"
          >
            <span style="padding-top: 5px">GUARDAR</span>
          </ion-button>
        </ion-col>

        <ion-col></ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="1"></ion-col>
  </ion-row> -->
</ion-content>
