.page_subheader {
    background     : var(--ion-color-orange);
    height         : 45px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index        : 1;
    width          : 100%;
}

.custom_input {
    border          : none;
    background-color: var(--ion-color-gray) !important;
    border-radius   : 5px !important;
    width           : 30% !important;
    --padding-top   : 5px;
    --padding-end   : 6px;
    --padding-bottom: 5px;
    --padding-start : 6px;
    text-align      : right;
    font-family     : 'Helvetica-Roman', sans-serif !important;
    font-size       : 16px !important;
    outline         : none !important;
}

.div {
    width        : 90% !important;
    border-bottom: 1px solid var(--ion-color-orange);
    padding      : 13px 15px;
}

.label_text {
    width      : 70%;
    font       : normal 16px 'Helvetica-Md', sans-serif;
    word-wrap: normal;
    padding-top: 7px;
}

.label_right {
    width      : 30%;
    font       : normal 16px 'Helvetica-Md', sans-serif;
    padding-top: 7px;
    text-align: right;
}

.btn_close {
    min-width     : 150px;
    height        : 30px;
    text-transform: uppercase;
    font: normal 16px 'Helvetica-Roman', sans-serif !important;
    //font          : normal 16px 'Helvetica-Bd', sans-serif;
}