.segment {
  --background: var(--ion-color-orange);
  height: 44px !important;

}

.segment_btn {
  font: normal 16px 'Helvetica-Roman', sans-serif;
  color: var(--ion-color-black);
  --color-checked: var(--ion-color-black);
  --indicator-height: 4px;
  min-height: 44px !important;
  z-index: 500 !important;
}

.font_bold {
  font-weight: bold;
}

ion-segment .segment-button-checked {
  font: normal 16px 'Helvetica-Bd', sans-serif;
}

.pres_container {
  background-color: var(--ion-color-gray);
  height: 44px;
  width: 100%;
  z-index: 50;
  margin-bottom: 5px !important;
}

.div_presupuesto {
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.label_presupuesto {
  font: normal 16px 'Helvetica-Bd', sans-serif;
}

.chat_container {
  background-color: var(--ion-color-gray);
  border-radius: 30px;
  width: 90% !important;
  margin-bottom: 10px;
  height: auto;
}

.attach_btn {
  width: 35px;
  height: 50px;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  background-image: cover;
  margin: 0 5px;
  --border-radius: 0;
}

.send_btn {
  width: 35px;
  height: 50px;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  background-image: cover;
  margin: 0 10px 0 5px;
  --border-radius: 0 10px 10px 0;
}

.text_area {
  width: 100%;
  margin-left: 10px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  font: normal 14px 'Helvetica-Roman', sans-serif;
  text-align: left;
}

.div_chat {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: auto !important;
}

.bubble_chat_me_old {
  background-color: var(--ion-color-gray);
  border-radius: 10px !important;
  font: normal 14px 'Helvetica-Roman', sans-serif;
  text-align: left;
  padding: 15px !important;
}

.bubble_chat_me {
  background-color: var(--ion-color-gray);
  border-radius: 10px !important;
  font: normal 14px 'Helvetica-Roman', sans-serif;
  text-align: left;
  padding: 15px !important;
  display: inline-block;
  position: relative;
}

.bubble_chat_me::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  left: auto;
  top: auto;
  bottom: 0;
  border: 10px solid;
  border-color: transparent transparent var(--ion-color-gray) transparent;
}

.bubble_chat_others_old {
  background-color: var(--ion-color-orange);
  border-radius: 10px;
  font: normal 14px 'Helvetica-Roman', sans-serif;
  text-align: left;
  padding: 15px !important;
}

.bubble_chat_others {
  background-color: var(--ion-color-orange);
  border-radius: 10px;
  font: normal 14px 'Helvetica-Roman', sans-serif;
  text-align: left;
  padding: 15px !important;
  display: inline-block;
  position: relative;
}

.bubble_chat_others::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: auto;
  bottom: 0;
  border: 10px solid;
  border-color: transparent transparent var(--ion-color-orange) transparent;
}

.chat_bubble {
  width: 100%;
  --inner-padding-end: 0;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  box-sizing: border-box !important;
}

.no_border {
  border: none;
}

.align_right {
  justify-content: flex-end;
  padding-right: 15px;
}

.align_left {
  justify-content: flex-start;
  padding-left: 15px;
}

.time {
  margin-top: 5px;
  text-align: right;
  font: normal 12px 'Helvetica_Roman', sans-serif;
}

.module {
  padding-bottom: 10px !important;
  border-bottom: 1px solid var(--ion-color-orange) !important;
  margin-top: 10px !important;
}

.icon_calendar {
  height: 17px !important;
  width: 17px !important;
}

.icon_schedule {
  height: 19px !important;
  width: 19px !important;
}

.icon_direction {
  height: 19px !important;
  width: 19px !important;
}

.icon_price {
  height: 19px !important;
  width: 19px !important;
}

.icon_photo {
  height: 20px !important;
  width: 20px !important;
}

.h3_title {
  font: normal 14px 'Helvetica-Md', sans-serif !important;
  margin: 8px 5px 8px 10px !important;
  text-align: left;
  width: 100%;
}

.h6_title {
  font: normal 12px 'Helvetica-Roman', sans-serif !important;
  text-align: left;
  width: 100%;
  padding: 5px 20px 5px 2px !important;
  min-width: 100px !important;
}

ion-item {
  --ion-safe-area-right: 0 !important;
}

.add_img {
  width: 85px !important;
  height: 85px !important;
  min-width: 85px !important;
  border: 0.5px solid  rgb(49 ,49 ,57); 
  border-radius: 5px 5px 5px 5px;
}

.h2_title {
  font: normal 16px 'Helvetica-Bd', sans-serif !important;
  padding: 8px 5px 8px 0 !important;
  text-align: left;
  width: 100%;
}

.selecf{
  width: 78px;
 height: 78px;  
 object-fit: cover;
 
}