<ion-header class="ion-no-border">

  <div style="background: var(--ion-color-orange);">

    <app-tab-header titulo="Nueva solicitud"></app-tab-header>

  </div>

  <div class="flex_row">
    <div style="width: 36px; background: var(--ion-color-orange);"></div>

    <div class="page_subheader">
      <span class="page_subheader_title">{{ category }}</span>
    </div>

    <div class="flex_centered" style="width: 36px; background: var(--ion-color-orange);">
        <ion-icon slot="end" name="close-circle" style="width: 25px !important;" (click)="onCloseClicked( $event )"></ion-icon>
    </div>

  </div>

  <div class="page_sub_subheader">
    <span class="page_sub_subheader_title">Fotos del proyecto</span>
  </div>

</ion-header>

<ion-content>

  <div class="container">

    <ion-list class="ion-no-padding" style="width: 100% !important;">
      
      <ion-item *ngFor="let item of photos" lines="none" style="margin: 35px 0 !important; width: 100% !important;">
        <app-request style="width: 100% !important;"></app-request>
      </ion-item>

    </ion-list>

    <div class="flex_centered" style="height: 100px;">
      <ion-button class="next_btn" 
                  color="orange" 
                  (click)="onNextClick( $event )">
        SIGUIENTE
      </ion-button>
    </div>

  </div>

</ion-content>
