.page_subheader {
  background: var(--ion-color-orange) !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
  width: 100% !important;
}

.page_subheader_title {
  font: normal 18px 'Helvetica-Md', sans-serif !important;
}

.page_sub_subheader {
  background: var(--ion-color-gray) !important;
  width: 100%;
  height: 50px !important;
  display: flex !important;
  text-align: left;
  align-items: center !important;
  padding-left: 30px !important;
  font: bold 15px verdana, sans-serif;
  z-index: 1;
}

.page_sub_subheader_title {
  font: bold 18px sans-serif, verdana !important;
}

.container {
  width: 100% !important;
  padding: 20px 30px !important;
}

.next_btn {
  border-radius: 3px;
  width: 160px;
  height: 30px;
  font: normal 16px 'Helvetica-Md', sans-serif !important;
  --padding-top: 2px;
}
