<ion-header class="ion-no-border">

  <div style="background: var(--ion-color-orange);">
    <app-tab-header titulo="Perfil"></app-tab-header>
  </div>

  <div class="flex_row">
    <div class="page_subheader">
      <span class="page_subheader_title">Promociones</span>
    </div>
  </div>

</ion-header>

<ion-content>
  <div class="flex_centered" style="width: 100%; padding-top: 15px; padding-bottom: 0px;">
    <ion-list style="width: 80% !important;">

      <ion-item class="item"  lines="none" >

        <div class="flex_row" style="width: 100%;">

      
                <h4  style=" margin-top:0px;font: bold 23px 'Helvetica-Roman', sans-serif; margin-left: 5px;"> 0.0</h4>

          <div class="flex_column" style="width: 100%; margin-left: 20px;">
          
            <div class="flex_row" style="margin-left: 15px;">
              <img class="estrella_principal" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella_principal" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella_principal" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella_principal" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella_principal" src="../../../assets/clasificacion_estrella.svg">
            </div>
           
            
          </div>

        </div>

      </ion-item>

    </ion-list>
  </div>

  <div class="flex_centered" style="width: 100%; padding-top: 1px; padding-bottom: 0px;">

    <ion-list style="width: 80% !important;">

      <ion-item class="item"  lines="none" >

        <div class="flex_row" style="width: 100%;">

          <img  class="image" src="../../../assets/noImage.svg"
                style="width: 50px; height: 50px; margin-top:0px;border-radius: 7px;">

          <div class="flex_column" style="width: 100%; margin-left: 20px;">
            <ion-label class="prom_title">Laura Martínez</ion-label>
            <div class="flex_row">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
            </div>
           
            <ion-label class="prom_text ion-text-wrap">Aqui va el texto donde describe el trabajo de otro. </ion-label>
          </div>

        </div>

      </ion-item>

    </ion-list>

   

    

  </div>


   <!-- segundo -->


   <div class="flex_centered" style="width: 100%; padding-top: 0px; padding-bottom: 0px;">

    <ion-list style="width: 80% !important;">

      <ion-item class="item"  lines="none" >

        <div class="flex_row" style="width: 100%;">

          <img  class="image" src="../../../assets/noImage.svg"
                style="width: 50px; height: 50px; margin-top:0px;border-radius: 7px;">

          <div class="flex_column" style="width: 100%; margin-left: 20px;">
            <ion-label class="prom_title">Laura Martínez</ion-label>
            <div class="flex_row">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
            </div>
           
            <ion-label class="prom_text ion-text-wrap">Aqui va el texto donde describe el trabajo de otro. </ion-label>
          </div>

        </div>

      </ion-item>

    </ion-list>

   

    

  </div>

  <!-- tres -->


  <div class="flex_centered" style="width: 100%; padding-top: 0px; padding-bottom: 0px;">

    <ion-list style="width: 80% !important;">

      <ion-item class="item"  lines="none" >

        <div class="flex_row" style="width: 100%;">

          <img  class="image" src="../../../assets/noImage.svg"
                style="width: 50px; height: 50px; margin-top:0px;border-radius: 7px;">

          <div class="flex_column" style="width: 100%; margin-left: 20px;">
            <ion-label class="prom_title">Laura Martínez</ion-label>
            <div class="flex_row">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
              <img class="estrella" src="../../../assets/clasificacion_estrella.svg">
            </div>
           
            <ion-label class="prom_text ion-text-wrap">Aqui va el texto donde describe el trabajo de otro.Aqui va el texto donde describe el trabajo de otro. </ion-label>
          </div>

        </div>

      </ion-item>

    </ion-list>

   

    

  </div>

  <div class="flex_row flex_centered ">
    <ion-icon name="chevron-down-outline" color="orange" style="margin-right: 5px;"></ion-icon>
    <p style="font-size: 12px;">Cargar mas comentarios</p>
  </div>
</ion-content>
