#barraSuperior{
    width: 100%;
    height: 115px;
    
    background-color: rgb(246, 183, 118);
}

#barraInferior{
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(49 ,49 ,57);
}

#logo{
    width: 40px;
    height: 40px;
    margin-top: 13px;
    margin-left: 6px;
    
}


#notificacion{
    width: 25px;
    height: 25px;
    margin-top: 20px;
   // margin-right: 20px;  
    
  
}

#punto_notificacion{
    width: 10px;
    height: 10px;
    margin-top: 13px;
  //  margin-right: 20px;  
}

.item{
        
    border-bottom: 1px solid  rgb(246, 183, 118);
    margin-top: 20px;
}


.prom_title {
    font         : bold 14px 'Helvetica-Roman', sans-serif;
    margin-bottom: 5px;
}

.prom_text {
    font: normal 14px 'Helvetica-Roman', sans-serif;
    margin-bottom: 10px;
}


.estrella{
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.estrella_principal{
    width: 22px;
    height: 22px; 
    margin-right: 5px;
}


.page_subheader {
    background     : var(--ion-color-orange);
    height         : 45px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index        : 1;
    width          : 100%;
}

.page_subheader_title {
    font          : normal 17px 'Helvetica-Md', sans-serif;
    text-transform: uppercase;
}