<ion-content>
  <div class="container">
    <div class="flex_column">
      <div class="div_title" style="margin-top: 30px">
        <ion-label class="title">CREAR CUENTA</ion-label>
      </div>

      <div class="flex_row" class="flex_centered" style="margin-top: 30px">
        <ion-img
          style="width: 8px; height: 8px"
          [src]="punto_naranja"
        ></ion-img>
        <ion-img
          style="width: 8px; height: 8px; margin-left: 15px"
          [src]="punto_gris"
        ></ion-img>
        <ion-img
          style="width: 8px; height: 8px; margin-left: 15px"
          [src]="punto_gris"
        ></ion-img>
        <!-- <ion-img style="width:8px;height:8px;margin-left: 15px;" [src]="punto_gris"></ion-img> -->
      </div>

      <div class="image_div" style="height: 160px !important">
        <ion-card
          id="card_pic"
          [ngClass]="(selectFoto == true) ? 'no_border':'green_border_bold'"
        >
          <ion-img
            class="selecf"
            [src]="avatarUsuario"
            (click)="onPictureClick( $event )"
          >
          </ion-img>
        </ion-card>
      </div>

      <form #formulario="ngForm">
        <ion-item
          class="select"
          lines="none"
          [ngClass]="(categoriaSelected == '' && isCatTouched === true) ? 'green_border':'no_border'"
        >
          <div class="flex_row" style="justify-content: space-between">
            <ion-label
              class="flex_row"
              (click)="clickCategoria()"
              style="
                margin-top: 0 !important;
                margin-bottom: 0 !important ;
                min-width: 155px !important;
              "
              >Categoría de trabajador</ion-label
            >

            <div class="flex_row" style="justify-content: flex-end">
              <ion-label
                style="margin-top: 0 !important; margin-bottom: 0 !important"
                (click)="clickCategoria()"
                >{{categoria}}</ion-label
              >
              <ion-icon
                style="
                  width: 11px;
                  height: 11px;
                  margin-top: 3px !important;
                  margin-left: 4px;
                "
                name="caret-down-outline"
                (click)="clickCategoria()"
              ></ion-icon>
            </div>
          </div>
        </ion-item>
        <ion-label
          *ngIf="categoriaSelected == '' && isCatTouched === true"
          class="mandatory"
        >
          Campo obligatorio
        </ion-label>

        <div class="div_1">
          <ion-item
            class="select"
            lines="none"
            [ngClass]="(entJuridicaSelected == '' && isEntTouched === true) ? 'green_border':'no_border'"
          >
            <div class="flex_row" style="justify-content: space-between">
              <ion-label
                class="flex_row"
                style="margin-top: 0 !important; margin-bottom: 0 !important"
                (click)="clickEntidad()"
                >Entidad jurídica</ion-label
              >

              <div
                class="flex_row"
                style="justify-content: flex-end; min-width: 130px"
              >
                <ion-label
                  style="margin-top: 0 !important; margin-bottom: 0 !important"
                  (click)="clickEntidad()"
                  >{{entidad}}</ion-label
                >
                <ion-icon
                  style="
                    width: 11px;
                    height: 11px;
                    margin-top: 3px !important;
                    margin-left: 4px;
                  "
                  name="caret-down-outline"
                  (click)="clickEntidad()"
                ></ion-icon>
              </div>
            </div>
          </ion-item>
          <ion-label
            *ngIf="entJuridicaSelected == '' && isEntTouched === true"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((nombre1.invalid && nombre1.touched) || nombreVacio) ? 'green_border':'no_border'"
            type="text"
            [(ngModel)]="nombre"
            name="nombre"
            required
            autofocus
            placeholder="NOMBRE"
            #nombre1="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(nombre1.invalid && nombre1.touched) || nombreVacio"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="div_1">
          <ion-datetime
            class="date"
            [ngClass]="((fecha_nac.invalid && fecha_nac.touched) || esMayorEdad===false || fecha_nacimiento ) ? 'green_border':'no_border'"
            displayFormat="DDDD MMM D, YYYY"
            min="1920"
            max="2030"
            placeholder="FECHA DE NACIMIENTO"
            [(ngModel)]="date"
            name="date"
            required
            (ionChange)="validarMayorDeEdad(date)"
            #fecha_nac="ngModel"
          >
          </ion-datetime>
          <ion-label
            *ngIf="fecha_nac.invalid && fecha_nac.touched"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
          <ion-label
            *ngIf="(fecha_nac.valid && fecha_nac.touched && esMayorEdad===false) || fecha_nacimiento "
            class="mandatory"
          >
            Para registrarse debe ser mayor de 18 años
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((usuario.invalid && usuario.touched) || user_vacio) ? 'green_border':'no_border'"
            type="email"
            [(ngModel)]="user"
            name="user"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            required
            placeholder="USUARIO"
            #usuario="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(usuario.invalid && usuario.touched) || user_vacio"
            class="mandatory"
          >
            Debe escribir su correo correctamente
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((pass.invalid && pass.touched) || password_vacio) ? 'green_border':'no_border'"
            type="password"
            [(ngModel)]="password"
            name="password"
            required
            placeholder="CONTRASEÑA"
            #pass="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(pass.invalid && pass.touched) || password_vacio"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((confirm_pass.invalid && confirm_pass.touched) || confirmPass_vacia) ? 'green_border':'no_border'"
            type="password"
            [(ngModel)]="confirmPass"
            name="confirmPass"
            required
            placeholder="CONFIRMAR CONTRASEÑA"
            #confirm_pass="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(confirm_pass.invalid && confirm_pass.touched) || confirmPass_vacia"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((nif.invalid && nif.touched) || cifNif_vacio) ? 'green_border':'no_border'"
            type="text"
            [(ngModel)]="cifNif"
            name="cifNif"
            pattern="[a-zA-Z][0-9]{7}[a-zA-Z0-9]"
            required
            placeholder="CIF/NIF"
            #nif="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(nif.invalid && nif.touched) || cifNif_vacio"
            class="mandatory"
          >
            Debe escribir el CIF/NIF correctamente
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((segSocial.invalid && segSocial.touched) || segSocialNumber_vacio) ? 'green_border':'no_border'"
            type="text"
            [(ngModel)]="segSocialNumber"
            name="segSocialNumber"
            minlength=12
            maxlength=12
            required
            placeholder="NÚMERO DE SEGURIDAD SOCIAL"
            #segSocial="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(segSocial.invalid && segSocial.touched) || segSocialNumber_vacio"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((dni.invalid && dni.touched) || DNI_vacio) ? 'green_border':'no_border'"
            type="text"
            [(ngModel)]="DNI"
            name="DNI"
            pattern="[0-9]{8}[a-zA-Z]"
            required
            placeholder="DNI"
            #dni="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(dni.invalid && dni.touched) || DNI_vacio"
            class="mandatory"
          >
            Debe escribir el DNI correctamente
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((cBancaria.invalid && cBancaria.touched) || cuentaBancaria_vacio) ? 'green_border':'no_border'"
            type="text"
            [(ngModel)]="cuentaBancaria"
            name="cuentaBancaria"
            placeholder="CUENTA BANCARIA"
            minlength=24
            maxlength=24
            required
            #cBancaria="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(cBancaria.invalid && cBancaria.touched) || cuentaBancaria_vacio"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((telefono.invalid && telefono.touched) || phone_vocio) ? 'green_border':'no_border'"
            type="tel"
            [(ngModel)]="phone"
            name="phone"
            placeholder="TELÉFONO"
            required
            minlength=6
            maxlength=9
            #telefono="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(telefono.invalid && telefono.touched) || phone_vocio"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="div_1">
          <ion-input
            class="custom_input"
            [ngClass]="((num_calle.invalid && num_calle.touched) || streetNumber_vacio) ? 'green_border':'no_border'"
            type="text"
            [(ngModel)]="streetNumber"
            name="streetNumber"
            required
            placeholder="NO. CALLE"
            #num_calle="ngModel"
          >
          </ion-input>
          <ion-label
            *ngIf="(num_calle.invalid && num_calle.touched) || streetNumber_vacio"
            class="mandatory"
          >
            Campo obligatorio
          </ion-label>
        </div>

        <div class="flex_row flex_space_between">
          <div class="data_flex">
            <div class="div_1">
              <ion-input
                class="custom_input"
                [ngClass]="((numero.invalid && numero.touched) || number_vacio) ? 'green_border':'no_border'"
                type="text"
                [(ngModel)]="number"
                name="number"
                required
                placeholder="NÚMERO"
                #numero="ngModel"
              >
              </ion-input>
              <ion-label
                *ngIf="(numero.invalid && numero.touched) || number_vacio"
                class="mandatory"
              >
                Campo obligatorio
              </ion-label>
            </div>

            <div class="div_1">
              <ion-input
                class="custom_input"
                type="text"
                [(ngModel)]="portal"
                name="portal"
                placeholder="PORTAL"
              >
              </ion-input>
            </div>

            <div class="div_1">
              <ion-input
                class="custom_input"
                type="text"
                [(ngModel)]="stair"
                name="staircase"
                placeholder="ESCALERA"
              >
              </ion-input>
            </div>

            <div
              class="div_1"
              style="
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
              "
            >
              <ion-button
                class="location_btn"
                [ngClass]="(coordenadas == true) ? 'no_border':'green_border_bold'"
                color="orange"
                (click)="onLocationClick( $event )"
              >
                <ion-img src="/assets/icons/ubicacion.svg"></ion-img>
              </ion-button>
            </div>
          </div>

          <div class="data_flex">
            <div class="div_1">
              <ion-input
                class="custom_input"
                type="text"
                [(ngModel)]="floor"
                name="floor"
                placeholder="PISO"
              >
              </ion-input>
            </div>

            <div class="div_1">
              <ion-input
                class="custom_input"
                type="text"
                [(ngModel)]="door"
                name="door"
                placeholder="PUERTA"
              >
              </ion-input>
            </div>

            <div class="div_1">
              <ion-input
                class="custom_input"
                type="text"
                [(ngModel)]="postalCode"
                name="postalCode"
                placeholder="CÓD POSTAL"
              >
              </ion-input>
            </div>

            <div
              class="div_1"
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
              "
            >
              <!-- <ion-label class="iae_label">IAE</ion-label>
              <ion-button
                class="iae_btn"
                slot="icon-only"
                color="orange"
                (click)="presentPopover( $event )"
              >
                <ion-icon name="attach" style="color: white"></ion-icon>
              </ion-button> -->
            </div>
          </div>
        </div>

        <div class="flex_centered" style="height: 160px">
          <ion-button
            type="submit"
            class="next_btn"
            color="orange"
            (click)="onNextClick( $event )"
          >
            <span style="padding-top: 5px">CREAR</span>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
