<ion-content>

  <div class="container">
    <div class="flex_column">

      <div class="div_title">
        <ion-label class="title">CREAR CUENTA</ion-label>
      </div>

      <div class="image_div" style="height: 160px !important;">
        <ion-card id="card_pic"
                  [ngClass]="(selectFoto == true) ? 'no_border':'green_border_bold'">
          <ion-img  [src]="avatarUsuario" 
                    (click)="onPictureClick( $event )">
          </ion-img>
        </ion-card>
      </div>

      <form #formulario="ngForm" >
        <div style="position: relative;">
          <ion-input  class="custom_input" 
                      [ngClass]="(nombre1.invalid && nombre1.touched) ? 'green_border':'no_border'"
                      type="text" 
                      [(ngModel)]='nombre' 
                      name = 'nombre'
                      required 
                      autofocus 
                      placeholder="NOMBRE"
                      #nombre1="ngModel">
          </ion-input>
          <ion-label *ngIf="nombre1.invalid && nombre1.touched" class="mandatory">
            Campo obligatorio
          </ion-label>
        </div>
        <div class="div_1">
          <ion-datetime   class="date" 
                          [ngClass]="((fecha_nac.invalid && fecha_nac.touched) || esMayorEdad===false) ? 'green_border':'no_border'"
                          displayFormat="DDDD MMM D, YYYY" 
                          min="1900" 
                          max="2030" 
                          placeholder="FECHA DE NACIMIENTO"
                          [(ngModel)]="birthday"
                          name = 'birthday'
                          required
                          (ionChange)="validarMayorDeEdad(birthday)"
                          #fecha_nac="ngModel">
          </ion-datetime>
          <ion-label *ngIf="fecha_nac.invalid && fecha_nac.touched" class="mandatory">
            Campo obligatorio
          </ion-label>
          <ion-label *ngIf="fecha_nac.valid && fecha_nac.touched && esMayorEdad===false" class="mandatory">
            Para registrarse debe ser mayor de 18 años
          </ion-label>
        </div>
        <div class="div_1">
          <ion-input  class="custom_input" 
                      [ngClass]="(usuario.invalid && usuario.touched) ? 'green_border':'no_border'"
                      type="email" 
                      [(ngModel)]="user" 
                      name = 'user'
                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                      required 
                      placeholder="USUARIO" 
                      #usuario="ngModel">
          </ion-input>
          <ion-label *ngIf="usuario.invalid && usuario.touched" class="mandatory">
            Debe escribir su correo correctamente
          </ion-label>
        </div>
        <div class="div_1">
          <ion-input  class="custom_input" 
                      [ngClass]="(pass.invalid && pass.touched) ? 'green_border':'no_border'"
                      type="password" 
                      [(ngModel)]="password"
                      name = 'password'
                      required 
                      placeholder="CONTRASEÑA"
                      #pass="ngModel">
          </ion-input>
          <ion-label *ngIf="pass.invalid && pass.touched" class="mandatory">
            Campo obligatorio
          </ion-label>
        </div>
        <div class="div_1">
          <ion-input  class="custom_input" 
                      [ngClass]="(confirm_pass.invalid && confirm_pass.touched) ? 'green_border':'no_border'"
                      type="password" 
                      [(ngModel)]="confirmPass" 
                      name = 'confirmPass'
                      required 
                      placeholder="CONFIRMAR CONTRASEÑA"
                      #confirm_pass="ngModel">
          </ion-input>
          <ion-label *ngIf="confirm_pass.invalid && confirm_pass.touched" class="mandatory">
            Campo obligatorio
          </ion-label>
        </div>
        <div class="div_1">
          <ion-input  class="custom_input" 
                      [ngClass]="(telefono.invalid && telefono.touched) ? 'green_border':'no_border'"
                      type="tel" 
                      [(ngModel)]="phone" 
                      name = 'phone'
                      placeholder="TELÉFONO" 
                      required
                      #telefono="ngModel">
          </ion-input>
          <ion-label *ngIf="telefono.invalid && telefono.touched" class="mandatory">
            Campo obligatorio
          </ion-label>
        </div>
        <div class="div_1">
          <ion-input  class="custom_input"
                      [ngClass]="(num_calle.invalid && num_calle.touched) ? 'green_border':'no_border'" 
                      type="text" 
                      [(ngModel)]="streetNumber" 
                      name = 'streetNumber'
                      required 
                      placeholder="NO. CALLE"
                      #num_calle="ngModel">
          </ion-input>
          <ion-label *ngIf="num_calle.invalid && num_calle.touched" class="mandatory">
            Campo obligatorio
          </ion-label>
        </div>
        <div class="flex_row flex_space_between">
          <div class="data_flex">
            <div class="div_1">
              <ion-input  class="custom_input" 
                          [ngClass]="(numero.invalid && numero.touched) ? 'green_border':'no_border'" 
                          type="text" 
                          [(ngModel)]="number" 
                          name = 'number'
                          required 
                          placeholder="NÚMERO" 
                          #numero="ngModel">
              </ion-input>
              <ion-label *ngIf="numero.invalid && numero.touched" class="mandatory">
                Campo obligatorio
              </ion-label>
            </div>
            <div class="div_1">
              <ion-input  class="custom_input" 
                          type="text" 
                          [(ngModel)]="portal" 
                          name = 'portal'
                          placeholder="PORTAL">
              </ion-input>
            </div>
            <div class="div_1">
              <ion-input  class="custom_input" 
                          type="text" 
                          [(ngModel)]="staircase" 
                          name = 'staircase'
                          placeholder="ESCALERA">
              </ion-input>
            </div>
            <div class="div_1" style="display: flex; flex-direction: column; justify-content: flex-start;">
              <ion-button   class="location_btn"
                            [ngClass]="(coordenadas == true) ? 'no_border':'green_border_bold'"
                            color="orange" 
                            (click)="onLocationClick()">
                <ion-img  src="/assets/icons/ubicacion.svg"></ion-img>
              </ion-button>
            </div>
          </div>
          <div class="data_flex">
            <div class="div_1">
              <ion-input  class="custom_input" 
                          type="text" 
                          [(ngModel)]="floor" 
                          name = 'floor'
                          placeholder="PISO">
              </ion-input>
            </div>
            <div class="div_1">
              <ion-input  class="custom_input" 
                          type="text" 
                          [(ngModel)]="door"
                          name = 'door' 
                          placeholder="PUERTA">
              </ion-input>
            </div>
            <div class="div_1">
              <ion-input  class="custom_input" 
                          type="text" 
                          [(ngModel)]="postalCode" 
                          name = 'postalCode'
                          placeholder="CÓD POSTAL">
              </ion-input>
            </div>
          </div>
        </div>

        <div class="flex_centered" style="height: 100px;">
          <ion-button   type="submit"
                        class="next_btn" 
                        color="orange"
                        [disabled]="formulario.invalid || !coordenadas || !selectFoto" 
                        (click)="onNextClick( $event )">
            CREAR
          </ion-button>
        </div>
      </form>

    </div>
  </div>
</ion-content>
