.container {
  width: 100% !important;
  padding: 0 55px !important;
}

.div_title{
  display: flex; 
  align-items: flex-end; 
  justify-content: center; 
  height: 60px !important;
}

.title {
  font: normal 20px 'Helvetica-Md', sans-serif;
  color: var(--ion-color-orange);
}

.image_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card_pic{
  height: 80px !important; 
  width: 80px !important; 
  border-radius: 10px !important;
}

.div_1 {
  width: 100%;
  margin-top: 18px !important;
  position: relative;
}

.data_flex {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.location_btn {
  width: 31px; 
  height: 31px; 
  --padding-top: 0; 
  --padding-bottom: 0; 
  --padding-start: 0; 
  --padding-end: 0; 
  background-image: cover; 
  margin: 0; 
  --border-radius: 3px;
}

.next_btn {
  --border-radius: 5px !important;
  width: 140px;
  height: 30px;
  font: normal 12px 'Helvetica-Md', sans-serif !important;
}

.custom_input {
  border: none;
  background-color: var(--ion-color-gray) !important;
  border-radius: 5px !important;
  width: 100% !important;
  --padding-top: 5px;
  --padding-end: 6px;
  --padding-bottom: 5px;
  --padding-start: 6px;
  text-align: left;
  font-family: 'Helvetica-Roman', sans-serif !important;
  font-size: 11px !important;
  outline: none !important;
}

.mandatory{
  font: normal 8px 'Helvetica-Roman', sans-serif;
  color: rgb(101,173,172);
  display: block;
  height: 12px !important;
  position: absolute;
}

.date{
  background: var(--ion-color-gray);
  font: normal 11px 'Helvetica-Roman', sans-serif !important;
  border-radius: 5px !important;
  padding: 5px 6px !important;
}

.color_mandatory {
  color: rgb(101,173,172);
}

.no_border {
  border: none !important;
}

.green_border {
  border: 1px solid rgb(101,173,172) !important;
  border-radius: 5px;
}

.green_border_bold {
  border: 2px solid rgb(101,173,172) !important;
  border-radius: 5px;
}
