.container {
  width  : 100% !important;
  padding: 0 10% !important;
}

.div_title {
  display        : flex;
  align-items    : flex-end;
  justify-content: center;
  height         : 60px !important;
}

.title {
  font : normal 20px 'Helvetica-Md', sans-serif;
  color: var(--ion-color-orange);
}

.image_div {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

#card_pic {
  height       : 80px !important;
  width        : 80px !important;
  border-radius: 10px !important;
}

.div_1 {
  width     : 100%;
  margin-top: 18px !important;
  position  : relative;
}

.data_flex {
  display       : flex;
  flex-direction: column;
  width         : 48%;
}

.location_btn {
  width           : 31px;
  height          : 31px;
  --padding-top   : 0;
  --padding-bottom: 0;
  --padding-start : 0;
  --padding-end   : 0;
  background-image: cover;
  margin          : 0;
  --border-radius : 3px;
}

.next_btn {
  --border-radius: 5px !important;
  width          : 140px;
  height         : 30px;
  font           : normal 16px 'Helvetica-Md', sans-serif !important;
}

.custom_input {
  border          : none;
  background-color: var(--ion-color-gray) !important;
  border-radius   : 5px !important;
  width           : 100% !important;
  --padding-top   : 5px;
  --padding-end   : 6px;
  --padding-bottom: 5px;
  --padding-start : 6px;
  text-align      : left;
  font-family     : 'Helvetica-Roman', sans-serif !important;
  font-size       : 14px !important;
  outline         : none !important;
}

.mandatory {
  font    : normal 8px 'Helvetica-Roman', sans-serif;
  color   : rgb(101, 173, 172);
  display : block;
  height  : 12px !important;
  position: absolute;
}

.date {
  background   : var(--ion-color-gray);
  font         : normal 14px 'Helvetica-Roman', sans-serif !important;
  border-radius: 5px !important;
  padding      : 5px 6px !important;
}

.color_mandatory {
  color: var(--ion-color-greenblue);
}

.no_border {
  border: none !important;
}

.green_border {
  border       : 1px solid var(--ion-color-greenblue) !important;
  border-radius: 5px;
}

.green_border_bold {
  border       : 2px solid var(--ion-color-greenblue) !important;
  border-radius: 5px;
}

.select {
  --background    : var(--ion-color-gray);
  --padding-start : 5px;
  --padding-bottom: 0;
  --padding-top   : 0;
  font            : normal 14px 'Helvetica-Roman', sans-serif !important;
  border-radius   : 5px;


    
      

}




ion-select {
  justify-content : center;
  align-items     : center;
  --padding-top   : 0;
  --padding-bottom: 0;
  --padding-start : 5px;
  background      :  var(--ion-color-gray);
  text-align      : right;
  width           : 40%;
  font            : normal 13px 'Helvetica-Roman', sans-serif !important;
  min-width       : 100px;
 
}

ion-select:hover {
  justify-content : center;
  align-items     : center;
  --padding-top   : 0;
  --padding-bottom: 0;
  --padding-start : 5px;
  background      :  var(--ion-color-gray);
  text-align      : right;
  width           : 40%;
  font            : normal 13px 'Helvetica-Roman', sans-serif !important;
  min-width       : 100px;
 
}



ion-select::part(text) {
  padding-right: 5px;
}

ion-select::part(placeholder) {
  padding-right: 5px;
}

ion-item::part(native) {
  min-height: 30px;
}

// .iae_btn {
//   width           : 70px;
//   height          : 31px;
//   --padding-top   : 0;
//   --padding-bottom: 0;
//   --padding-start : 0;
//   --padding-end   : 0;
//   margin          : 0;
//   --border-radius : 3px;
// }

.iae_btn {
  width           : 31px;
  height          : 31px;
  --padding-top   : 0;
  --padding-bottom: 0;
  --padding-start : 0;
  --padding-end   : 0;
  margin          : 0;
  --border-radius : 20% !important;
}

.iae_label {
  font      : normal 16px 'Helvetica-Roman', sans-serif !important;
  text-align: center;
  padding   : 6px;
}


.selecf{
  width: 80px;
 height: 80px;  
 object-fit: cover;
 
}

/* .action-sheet-button-inner{
--color: var(--ion-color-gray);
}
.sc-ion-action-sheet-ios{
  --color: var(--ion-color-gray);

} */

