.page_subheader{
    background: var(--ion-color-orange) !important;
    height: 44px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1 !important;
    width: 100% !important;
}
.page_subheader_title{
    font: bold 16px 'Helvetica-Roman', sans-serif !important;
}
#item{
        
    border-bottom: 1px solid  rgb(246, 183, 118);
  margin-top: 10px;
}
