<ion-header class="ion-no-border">
  <!-- <app-tab-header titulo="Solicitudes" backgroundColor="var(--ion-color-orange)"></app-tab-header> -->
  <div style="background: var(--ion-color-orange)">
    <app-tab-header titulo="Solicitudes"></app-tab-header>
  </div>
  <ion-segment
    class="segment"
    (ionChange)="segmentChanged($event)"
    value="presupuestar"
    #segment
  >
    <ion-segment-button class="segment_btn" value="presupuestar">
      <ion-label>PRESUPUESTAR</ion-label>
    </ion-segment-button>

    <ion-segment-button class="segment_btn" value="detalles">
      <ion-label>DETALLES</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="verpresupuestar">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-row class="item">
          <ion-col size="4">
            <h5 class="cat_title">Servicio</h5>
          </ion-col>
          <ion-col size="4"></ion-col>
          <ion-col size="4" style="text-align: end">
            <h5 class="cat_title">Precio</h5>
          </ion-col>
        </ion-row>

        <ion-row class="item">
          <ion-col size="6">
            <h5 style="margin-left: 10px">Mano de obra</h5>
          </ion-col>
          <ion-col size="3"></ion-col>
          <ion-col size="3" style="text-align: end">
            <ion-input
              name="mano_obra"
              type="number"
              required
              [(ngModel)]="manoobra"
              (ionChange)="obra($event)"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="item" *ngIf="!task.require_materials">
          <ion-col size="6">
            <h5 style="margin-left: 10px">Materiales</h5>
          </ion-col>
          <ion-col size="3"></ion-col>
          <ion-col size="3" style="text-align: end">
            <ion-input
              name="materiales"
              type="number"
              required
              [(ngModel)]="materiales"
              (ionChange)="material($event)"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="item" style="margin-top: 80px">
          <ion-col size="6">
            <h5 style="margin-left: 10px">TOTAL</h5>
          </ion-col>
          <ion-col size="3"></ion-col>
          <ion-col size="3" style="text-align: end">
            <div class="cuadrado">
              <ion-label style="margin-top: 16px; padding: 5px 6px; width: 100%"
                >{{total}}</ion-label
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6" style="text-align: center">
        <ion-button color="orange" (click)="enviar()"> Enviar </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </div>

  <div *ngIf="verdetalles">
    <ion-row style="margin-top: 25px; margin-bottom: 25px">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-row>
          <h5 class="titulo_detalle">{{task.type}}</h5>
        </ion-row>
        <ion-row>
          <p style="margin: 5px 0px; font-size: medium">{{task.title}}</p>
        </ion-row>
        <div class="item"></div>

        <ion-row style="margin-top: 12px">
          <ion-col size="1.3" style="padding-left: 0px">
            <img
              style="width: 19px; height: 20px"
              src="../../../assets/icons/calendario.svg"
            />
          </ion-col>
          <ion-col size="10.7" style="padding-top: 6px; padding-left: 0px">
            <ion-label class="parametros_detalle">Fecha</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <p style="margin: 5px 0px; font-size: medium">
            {{ task.date_planned |date:'EEEE d.MMMM yyyy' | lowercase}}
          </p>
        </ion-row>
        <div class="item"></div>

        <ion-row style="margin-top: 12px">
          <ion-col size="1.3" style="padding-left: 0px">
            <img
              style="width: 19px; height: 20px"
              src="../../../assets/icons/hora.svg"
            />
          </ion-col>
          <ion-col size="10.7" style="padding-top: 6px; padding-left: 0px">
            <ion-label class="parametros_detalle">Horario</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <p style="margin: 5px 0px; font-size: medium">
            {{ task.time |date: 'h:mm a' }}
          </p>
        </ion-row>
        <div class="item"></div>

        <ion-row style="margin-top: 12px">
          <ion-col size="1.3" style="padding-left: 0px">
            <img
              style="width: 19px; height: 20px"
              src="../../../assets/icons/direccion.svg"
            />
          </ion-col>
          <ion-col size="10.7" style="padding-top: 6px; padding-left: 0px">
            <ion-label class="parametros_detalle">Dirección</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <!--  <p style="margin: 5px 0px;font-size: medium; ">10 KM</p> -->

          <ion-icon name="remove-outline"></ion-icon>
        </ion-row>
        <div class="item"></div>

        <ion-row style="margin-top: 12px">
          <ion-col size="1.3" style="padding-left: 0px">
            <img
              style="width: 19px; height: 20px"
              src="../../../assets/icons/bolsa.png"
            />
          </ion-col>
          <ion-col size="10.7" style="padding-top: 6px">
            <ion-label class="parametros_detalle">Precio</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="task.require_materials">
          <p
            style="margin: 5px 0px; font-size: medium"
            *ngIf="materiales != '' "
          >
            Materiales: {{ materiales }} €
          </p>
          <p
            style="margin: 5px 0px; font-size: medium"
            *ngIf="materiales == '' "
          >
            Materiales: 0 €
          </p>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="padding-left: 0px">
            <p
              style="margin: 5px 0px; font-size: medium"
              *ngIf=" manoobra != null "
            >
              Mano de obra: {{ manoobra }} €
            </p>
            <p
              style="margin: 5px 0px; font-size: medium"
              *ngIf=" manoobra == null "
            >
              Mano de obra: 0 €
            </p>
          </ion-col>
          <ion-col size="4">
            <p style="margin: 5px 0px; font-size: medium">
              Total: {{ total }} €
            </p>
          </ion-col>
        </ion-row>
        <div class="item"></div>

        <ion-row style="margin-top: 12px">
          <ion-col size="1.3" style="padding-left: 0px">
            <img
              style="width: 19px; height: 20px"
              src="../../../assets/icons/camara.svg"
            />
          </ion-col>
          <ion-col size="10.7" style="padding-top: 6px; padding-left: 0px">
            <ion-label class="parametros_detalle">Fotos</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" style="padding-top: 0px">
            <ion-card
              style="
                border: 0.5px solid rgb(49, 49, 57);
                width: 80px;
                height: 80px;
                border-radius: 5px 5px 5px 5px;
                margin: 10px 0px;
              "
               (click)="imageClick()">
              <img src="src={{imagen}}" />
            </ion-card>
          </ion-col>
          <ion-col size="4" style="padding-top: 0px">
            <ion-card
              style="
                border: 0.5px solid rgb(49, 49, 57);
                width: 80px;
                height: 80px;
                border-radius: 5px 5px 5px 5px;
                margin: 10px 0px;
              "
            >
              <img src="src=../../../assets/icons/noImage.svg " />
            </ion-card>
          </ion-col>

          <ion-col size="4" style="padding-top: 0px">
            <ion-card
              style="
                border: 0.5px solid rgb(49, 49, 57);
                width: 80px;
                height: 80px;
                border-radius: 5px 5px 5px 5px;
                margin: 10px 0px;
              "
            >
              <img src="src=../../../assets/icons/noImage.svg " />
            </ion-card>
          </ion-col>
        </ion-row>

        <div class="item"></div>

        <ion-row style="margin-top: 12px">
          <ion-col size="1.3" style="padding-left: 0px">
            <img
              style="width: 19px; height: 20px"
              src="../../../assets/icons/contacto.svg"
            />
          </ion-col>
          <ion-col size="10.7" style="padding-top: 6px; padding-left: 0px">
            <ion-label class="parametros_detalle">Cliente</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <p style="margin: 5px 0px; font-size: medium">
            {{ task.client_name }}
          </p>
        </ion-row>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </div>
</ion-content>
