.page_subheader {
    background: var(--ion-color-orange) !important;
    height: 50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1 !important;
    width: 100% !important;
  }
  
  .page_subheader_title {
    font: normal 18px 'Helvetica-Md', sans-serif !important;
    text-transform: uppercase;
  }
  
  .module {
    padding-bottom: 10px !important;
    border-bottom: 1px solid var(--ion-color-orange) !important;
    margin-top: 10px !important;
  }
  
  .icon_calendar {
    height: 17px !important;
    width: 17px !important;
  }
  
  .icon_schedule {
    height: 19px !important;
    width: 19px !important;
  }
  
  .icon_direction {
    height: 19px !important;
    width: 19px !important;
  }
  
  .icon_price {
    height: 19px !important;
    width: 19px !important;
  }
  
  .icon_photo {
    height: 20px !important;
    width: 20px !important;
  }
  
  .icon_contact {
    height: 18px !important;
    width: 18px !important;
  }
  
  .img_location {
    display: block;
    height: 30px;
    width: 30px;
  }
  
  .h6_direction {
    padding-right: 20px !important;
  }
  
  .h3_title {
    font: normal 14px 'Helvetica-Md', sans-serif !important;
    margin: 8px 5px 8px 10px !important;
    text-align: left;
    width: 100%;
  }
  
  .h6_title {
    font: normal 12px 'Helvetica-Roman', sans-serif !important;
    text-align: left;
    width: 100%;
    padding: 5px 20px 5px 2px !important;
    min-width: 100px !important;
  }
  
  ion-item {
    --ion-safe-area-right: 0 !important;
  }
  
  .add_img {
    width: 85px !important;
    height: 85px !important;
    min-width: 85px !important;
  }
  
  .h2_title {
    font: normal 16px 'Helvetica-Bd', sans-serif !important;
    padding: 8px 5px 8px 0 !important;
    text-align: left;
    width: 100%;
  }