.main_div{
    width: 100% !important;
    border: 1.5px solid var(--ion-color-orange);
    border-radius: 10px !important;
}

.pic_description {
    display: block;
    width: 100%;
    border-style: none;
    font: normal 12px sans-serif;
    min-width: 90px !important;
    outline: none;
    margin: 0 15px 0 0 !important;
    padding: 6px !important;
}