<ion-header class="ion-no-border">

<!--   <app-tab-header titulo="Servicios" backgroundColor="var(--ion-color-orange)"></app-tab-header> -->


<div style="background: var(--ion-color-orange);">

  <app-tab-header titulo="Servicios"></app-tab-header>

</div>


  <ion-segment class="segment" value="contratados" mode="md" #segment>

    <ion-segment-button class="segment_btn" value="contratados">
      <ion-label>Contratados</ion-label>
    </ion-segment-button>

    <ion-segment-button class="segment_btn" value="historial">
      <ion-label>Historial</ion-label>
    </ion-segment-button>

  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="(segment.value === 'contratados')" class="flex_column" style="height: 100%; width: 100%;">

    <div class="flex_centered" style="width: 100%; padding-top: 10px; padding-bottom: 100px;">

      <ion-list style="width: 90% !important;">

        <ion-item class="item" *ngFor="let contratado of contratados" lines="none" (click)="onClickItemContratados()">

          <div class="flex_row" style="width: 100%;">

            <img class="image" [src]="contratado.foto">

            <div class="flex_column" style="width: 100%; margin-left: 20px;">

              <div class="flex_row" style="width: 100%;">
                <ion-label class="cat_title">{{ contratado.titulo }}</ion-label>
              <!--   <ion-label class="ordenNumber">{{ contratado.numeroOrden }}</ion-label> -->
            <!--     <ion-label class="start_date">{{ contratado.fechaInicio }}</ion-label> -->
              </div>

              <div class="flex_row">
                <ion-img class="icon_calendar" src="/assets/icons/calendario.svg"></ion-img>
                <ion-label class="fecha_fin">{{ contratado.fechaFin }}</ion-label>
              </div>
              <div class="flex_row">
                <ion-img class="icon_horario" src="/assets/icons/hora.svg"></ion-img>
                <ion-label class="horario">{{ contratado.horario }}</ion-label>
                <div  style="min-width: 43px;">
                  
                </div>
                <ion-label class="precio">{{ contratado.precio }}</ion-label>
              </div>
            </div>

          </div>

        </ion-item>

      </ion-list>

    </div>

  </div>

  <div *ngIf="(segment.value === 'historial')" class="flex_column" style="height: 100%; width: 100%;">

    <div class="flex_centered" style="width: 100%; padding-top: 10px; padding-bottom: 20px;">

      <ion-list style="width: 80% !important;">

        <ion-item class="item" *ngFor="let history of historial" lines="none" (click)="onClickItemHistorial()">

          <div class="flex_row" style="width: 100%;">

            <img class="image" [src]="history.foto">

            <div class="flex_column" style="width: 100%; margin-left: 20px;">

              <div class="flex_row" style="width: 100%;">
                <ion-label class="cat_title">{{ history.titulo }}</ion-label>
                <ion-label class="ordenNumber">{{ history.numeroOrden }}</ion-label>
                <ion-label class="start_date">{{ history.fechaInicio }}</ion-label>
              </div>

              <div class="flex_row">
                <ion-img class="icon_calendar" src="/assets/icons/calendario.svg"></ion-img>
                <ion-label class="fecha_fin">{{ history.fechaFin }}</ion-label>
              </div>
              <div class="flex_row">
                <ion-img class="icon_horario" src="/assets/icons/hora.svg"></ion-img>
                <ion-label class="horario">{{ history.horario }}</ion-label>
                <ion-label class="precio">{{ history.precio }}</ion-label>
              </div>
            </div>

          </div>

        </ion-item>

      </ion-list>

    </div>

  </div>

</ion-content>
