.segment {
  --background: var(--ion-color-orange);
  height: 44px !important;
}

.segment_btn {
  font: normal 15px 'Helvetica-Roman', sans-serif;
  color: var(--ion-color-black);
  --color-checked: var(--ion-color-black);
  --indicator-height: 4px;
  min-height: 44px !important;
  z-index: 500 !important;
}

.font_bold {
  font-weight: bold;
}

ion-segment .segment-button-checked {
  font: normal 15px 'Helvetica-Bd', sans-serif;
}

ion-segment-button {
  width: 50%;
}

.image {
  height: 85px !important;
  width: 85px !important;
  min-height: 85px;
  min-width: 85px;
  border-radius: 20px 0 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cat_title {
  width: 50%;
  text-transform: uppercase;
  font: normal 16px 'Helvetica-Bd', sans-serif;
  text-align: left;
  margin: 5px 0 12px 0;
  min-width: 110px;
}

.ordenNumber {
  width: 20%;
  font: normal 16px 'Helvetica-Roman', sans-serif;
  text-align: center;
  margin-top: 5px;
}

.start_date {
  width: 30%;
  text-align: right;
  font: normal 8px 'Helvetica-Roman', sans-serif;
  margin-top: 5px;
}

.icon_calendar {
  height: 12px !important;
  width: 12px !important;
  margin: 5px 0;
}

.icon_horario {
  height: 12px !important;
  width: 12px !important;
  margin: 5px 0;
}

.fecha_fin {
  font: normal 12px 'Helvetica-Roman', sans-serif;
  text-align: left;
  margin: 5px 8px;
}

.horario {
  font: normal 12px 'Helvetica-Roman', sans-serif;
  text-align: left;
  margin: 5px 8px;
  width: 100%;
}

ion-item {
  --ion-safe-area-right: 0 !important;
}

.item {
  width: 100% !important;
  border-bottom: 1px solid var(--ion-color-orange);
  padding: 20px 0 !important;
  --padding-start: 0
}

.precio {
  font: normal 16px 'Helvetica-Md', sans-serif;
  text-align: right;
  color: var(--ion-color-orange);
  width: 20%;
  margin-top: 2px;
  min-width: 45px;
}
