.segment {
  --background: var(--ion-color-orange);
  height: 44px !important;
}

.segment_btn {
  font: normal 15px 'Helvetica-Roman', sans-serif;
  color: var(--ion-color-black);
  --color-checked: var(--ion-color-black);
  --indicator-height: 4px;
  min-height: 44px !important;
  z-index: 500 !important;
}

.font_bold {
  font-weight: bold;
}

ion-segment .segment-button-checked {
  font: normal 15px 'Helvetica-Bd', sans-serif;
}

ion-segment-button {
  width: 50%;
}

.image {
  height:            93px !important;
  width:             91px !important;
  min-height:        93px;
  min-width:         91px;
  border-radius:     20px 0 0 0;
  background-repeat: no-repeat;
  background-size:   100%;
}

.cat_title {
 /*  width: 50%;
  text-transform: uppercase;
  font: normal 16px 'Helvetica-Bd', sans-serif;
  text-align: left;
  margin: 5px 0 12px 0;
  min-width: 110px; */

  text-transform: uppercase;
  font: normal 16px 'Helvetica-Bd', sans-serif;
  text-align: left;
  margin: 5px 0 12px 0;
}

.ordenNumber {
  width: 30%;
  font: normal 16px 'Helvetica-Roman', sans-serif;
  text-align: center;
  margin-top: 5px; 

/*   font: normal 16px 'Helvetica-Roman', sans-serif;
  text-align: left;
  margin: 4px 8px; */
}

.start_date {
  width: 30%;
  text-align: right;
  font: normal 6px 'Helvetica-Roman', sans-serif;
  margin-top: 5px;
}

.icon_calendar {
  height: 16px !important;
  width : 16px !important;
  margin: 5px 0;
}

.icon_horario {
  height: 16px !important;
  width : 16px !important;
  margin: 5px 0;
}

.fecha_fin {
  font: normal 16px 'Helvetica-Roman', sans-serif;
  text-align: left;
  margin: 5px 8px;
}

.horario {
  font: normal 16px 'Helvetica-Roman', sans-serif;
  text-align: left;
  margin: 5px 8px;
 /*  width: 100%; */
}

ion-item {
  --ion-safe-area-right: 0 !important;
}

.item {
  width: 100% !important;
  border-bottom: 1px solid var(--ion-color-orange);
  padding: 8px 0 !important;
  --padding-start: 0
}

.precio {
  font: normal 18px 'Helvetica-Md', sans-serif;
  text-align: start;
  color: var(--ion-color-orange);
  width: 33%;
  margin-top: 3px;
  min-width: 45px;
}

.icon_noti_offer{
  height: 20px !important;
  width : 20px !important;
  text-align: end;

}