.page_subheader {
    background: var(--ion-color-orange) !important;
    height: 45px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1 !important;
    width: 100% !important;
  }
  
  .page_subheader_title {
    font: normal 17px 'Helvetica-Md', sans-serif !important;
    text-transform: uppercase;
  }

/*   .address{
    border-bottom: 1px solid var(--ion-color-orange); 
    width: 80% !important; 
    padding-top: 8px !important; 
    padding-bottom: 8px !important;
    margin-top: 20px;
}
.image{
    min-height: 30px !important; 
    min-width: 30px !important; 
    height: 30px !important; 
    width: 30px !important; 
    margin-left: 15px !important;
    margin-right: 15px !important;
} */

img {
  width: 120px;

}

#imgGPS {
  width: 30px;
  height: 30px;
}

.custom_input {
  border: none;
  width: 100% !important;
  --padding-top: 5px;
  --padding-end: 15px;
  --padding-bottom: 5px;
  --padding-start: 15px;
  text-align: left;
  font-family: 'Helvetica-Roman', sans-serif !important;
  font-size: 16px !important;
  outline: none !important;
}

#link {
  color: var(--ion-color-greenblue);
}