.page_subheader {
    background: var(--ion-color-orange) !important;
    height: 45px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1 !important;
    width: 100% !important;
  }
  
  .page_subheader_title {
    font: normal 17px 'Helvetica-Md', sans-serif !important;
    text-transform: uppercase;
  }

/*   .address{
    border-bottom: 1px solid var(--ion-color-orange); 
    width: 80% !important; 
    padding-top: 8px !important; 
    padding-bottom: 8px !important;
    margin-top: 20px;
}
.image{
    min-height: 30px !important; 
    min-width: 30px !important; 
    height: 30px !important; 
    width: 30px !important; 
    margin-left: 15px !important;
    margin-right: 15px !important;
} */

img {
  width: 120px;

}

#imgGPS {
  width: 30px;
  height: 30px;
}

.custom_input {
  border: none;
  width: 100% !important;
  --padding-top: 5px;
  --padding-end: 15px;
  --padding-bottom: 5px;
  --padding-start: 15px;
  text-align: left;
  font-family: 'Helvetica-Roman', sans-serif !important;
  font-size: 16px !important;
  outline: none !important;
}

#link {
  color: var(--ion-color-greenblue);
}

.icon_direction {
  height: 19px !important;
  width: 19px !important;
}

.h3_title {
  font: normal 14px "Helvetica-Md", sans-serif !important;
  margin: 8px 5px 8px 10px !important;
  text-align: left;
  width: 100%;
}

.ion-text-wrap {
  white-space: normal !important;

}

.h6_title {
  font: normal 12px 'Helvetica-Roman', sans-serif !important;
  text-align: left;
  width: 100%;
  padding: 5px 20px 5px 2px !important;
  min-width: 100px !important;
}


.no_border {
  border: none !important;
}


.green_border {
  border       : 1px solid var(--ion-color-greenblue) !important;
  border-radius: 5px;
}

.green_border_bold {
  border       : 2px solid var(--ion-color-greenblue) !important;
  border-radius: 5px;
}

.location_btn {
  width           : 31px;
  height          : 31px;
  --padding-top   : 0;
  --padding-bottom: 0;
  --padding-start : 0;
  --padding-end   : 0;
  background-image: cover;
  margin          : 0;
  --border-radius : 3px;
}

:host ::ng-deep {
  .p-toast-message-custom {
      background-color: rgb(246, 183, 118);
      border: solid rgb(246, 183, 118);;
      border-width: 0 0 0 6px;
      width: 10px;
      color: #2c1e30;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}