.page_subheader {
    background: var(--ion-color-orange);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
  }
  
  .page_subheader_title {
    font: normal 17px "Helvetica-Md", sans-serif;
    text-transform: uppercase;
  }
  
  .btn_anadir {
    min-width: 150px;
    height: 30px;
    text-transform: uppercase;
    font: normal 16px "Helvetica-Md", sans-serif;
  }
  