.image {
    height: 85px !important;
    width: 85px !important;
    min-height: 85px;
    min-width: 85px;
    border-radius: 20px 0 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .cat_title {
    text-transform: uppercase;
    font: normal 16px 'Helvetica-Bd', sans-serif;
    text-align: left;
    margin: 5px 0 12px 0;
  }
  
  .icon_calendar {
    height: 12px !important;
    width: 12px !important;
    margin: 5px 0;
  }
  
  .icon_horario {
    height: 12px !important;
    width: 12px !important;
    margin: 5px 0;
  }
  
  .h5_label {
    font: normal 12px 'Helvetica-Roman', sans-serif;
    text-align: left;
    margin: 5px 8px;
  }
  
  ion-item {
    --ion-safe-area-right: 0 !important;
  }
  
  .item {
    width: 100% !important;
    border-bottom: 1px solid var(--ion-color-orange);
    padding: 20px 0 !important;
    --padding-start: 0
  }
  
  ion-fab ion-fab-button ion-icon {
      color: white;
  }
  
  ion-fab-button {
      width: 38px;
      height: 38px;
  }