.page_subheader {
  background: var(--ion-color-orange) !important;
  height: 44px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
  width: 100% !important;
  text-transform: uppercase;
}

.item {
  width: 100% !important;
  border-bottom: 1px solid var(--ion-color-orange);
  padding: 5px 0 !important;
  --padding-start: 0;
}

ion-input {
  border: none;
  background-color: var(--ion-color-gray) !important;
  border-radius: 5px !important;
  width: 100% !important;
  --padding-top: 5px;
  --padding-end: 6px;
  --padding-bottom: 5px;
  --padding-start: 6px;
  text-align: right;
  font-family: "Helvetica-Roman", sans-serif !important;
  font-size: 16px !important;
  outline: none !important;
  margin-top: 16px;
}

.cuadrado {
  width: 100%;
  background: var(--ion-color-gray);
  border-radius: 5px;
  margin-right: 0px;
}
