.page_subheader {
    background     : var(--ion-color-orange) !important;
    height         : 45px !important;
    display        : flex !important;
    justify-content: center !important;
    align-items    : center !important;
    z-index        : 1 !important;
    width          : 100% !important;
}

.page_subheader_title {
    font          : normal 16px 'Helvetica-Md', sans-serif !important;
    text-transform: uppercase;
}



.label2{
    font: normal 14px "Helvetica-Md", sans-serif !important;
    width: 100% !important;
}

.custom_input {
    border          : none;
    background-color: var(--ion-color-gray) !important;
    border-radius   : 5px !important;
    width           : 100% !important;
    // --padding-top   : 8px;
    --padding-end   : 10px;
    // --padding-bottom: 8px;
    --padding-start : 10px;
    text-align      : left;
    //font-family     : 'Helvetica-Roman', sans-serif !important;
    font-size       : 12px !important;
    outline         : none !important;
    min-width       : 10%;
   /// min-height      :50 ;
}

.div_1 {
    width     : 100%;
   
    margin-top: 25px !important;
    position  : relative;
}
.div_2 {
    width     : 30%;
   
    margin-top: 25px !important;
    position  : relative;
}
.div_3 {
    width     : 8%;
   
    margin-top: 35px !important;
    position  : relative;
}
.org {
    justify-content:space-around;
    margin-top:70px;
    display: flex;
}


.btn_cancelar {
    min-width: 80px;
    height: 30px;
    text-transform: uppercase;
    font: normal 16px 'Helvetica-Roman', sans-serif !important;
    //font: normal 16px "Helvetica-Md", sans-serif;
  
  }

  .btn_pagar {
    min-width: 70px;
    height: 30px;
    text-transform: uppercase;
    font: normal 16px 'Helvetica-Roman', sans-serif !important;
    //font: normal 16px "Helvetica-Md", sans-serif;
  
  }